@charset 'utf-8';

body { min-width: 320px; width: 100%; height: 100%; background:#000;}
.blind { display: none; }
/* .main { background: url('../images/main/bg_main.png') 80% center/cover no-repeat; } */
.main video { position: fixed; left: 0; top: 0; min-width: 100%; min-height: 100%; opacity:0.7; }
.video_visual { display: none;}
.main_container { position: relative; margin: 0 auto; width: 1920px;}
.ck .main_info,
.main.on .main_info {  opacity: 0; }
.main_info { transition: all 0.5s;  position: fixed; left: 17%; top: 50%; transform: translateY(-50%); width: calc(100% - 34%); color:#fff;  }
.main_info .item > * { display: block; pointer-events: none; }
.main_info .item > .sup { color: #5056e4; font-size: 20px;  }
.main_info .item > .tit { margin-top: 15px; color: #fff; font-size: 64px; font-weight: bold; line-height: 85px; }
.main_info .item > .cont { margin-top: 40px; padding-left: 6px; color: #ddd; font-size: 15px; font-weight: bold; line-height: 24px; opacity: 0.5; }


.main_slide { transition: all 0.5s ease-in-out 0s; display: flex; position: relative; left: 200%; top: 0; z-index: 2; align-items: center; width: 100%; height: 100%; box-sizing: border-box; }
.main_slide::after { transition: all 0.5s ease-in-out 0s; opacity: 0; content: ''; position: fixed; left: 0; width: 100%; height: 100%; background:linear-gradient( to bottom, #092c49, #000 );  }
.main_slide .swiper-container { height: 100%; box-sizing: border-box; }

.main_slide.on { left: 0; } 
.main_slide.on::after { opacity: .95; }
.main_slide .swiper-slide { display: flex; align-items: center; }
.main_slide .swiper-slide a { display: block; position: relative; width: 540px; height: 360px; }
.main_slide .swiper-slide a:hover::after {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; opacity: 0.5; }
.main_slide .info { display: none;  position: absolute; left: 30px; bottom: 40px; padding-right: 30px; color: #fff; }
.main_slide .info > * { display: block; z-index: 3; position: relative; }
.main_slide .info .year { font-size: 20px; font-weight: 500; opacity: 0.5; }
.main_slide .info .tit { margin-top: 3px; font-size: 26px; font-weight: 700; }
.main_slide .info .sort { margin-top: 25px; opacity: 0.7; }
.main_slide .info .sort span { display: inline-block; padding: 0 10px; height: 20px; line-height: 20px; font-size: 12px; font-weight: 800; border: 2px solid #adadad; border-radius: 12px; opacity: 0.8; }
.main_slide .info .sort span:nth-of-type(1n+2) { margin-left: 2px; }
.main_slide a:hover .info { display: block; }
.btn_link { z-index: 4; position: absolute; left: 60px; bottom: 50%;  margin-bottom: -240px; padding-left: 44px; height: 40px; line-height: 40px; color: #fff; font-size: 13px; font-weight: 800; background: url('../images/main/bg_info_slide.png') no-repeat left center; }

.main .swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction { bottom: auto; top: 0px; text-align: left; }
.swiper-pagination-bullet { background-color: #fff; opacity: 1; }
.swiper-pagination-bullet-active { width: 60px; border-radius: 4px; background-color: #6a57d3; }

.swiper-container-horizontal>.swiper-scrollbar { left: 60px; bottom: 50%; margin-bottom: 200px; width: calc(100% - 120px); background: none; }
.swiper-scrollbar-drag { background:#058eff;}
.scroll_hoz .scroll_wrap { width: scroll }
.scroll_hoz .box { width: 530px; height: 340px; }

.txtbox { display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; position: absolute; left: 0; top: 50%; transform: translateY(-50%); padding: 30px; width: 540px; height: 360px; color: #fff; border:2px solid #058eff; background:#092c49; box-sizing: border-box; }
.txtbox > * { display: block; }
.txtbox .suptit { color:#058eff; font-size: 12px; }
.txtbox .tit { margin-top: 2px; font-size: 32px; }
.txtbox .cont { margin-top: 20px; line-height: 24px; font-size: 15px; font-weight: 300; font-family: "NanumSquareRound"; }

.item > * { display: block; overflow: hidden; }
.item em { font-weight: 700; }
.item .sup em { transform: translateY(100px); transition: all 0.79s 0.09s; }
.item .tit em { transform: translateY(100px); transition: all 0.79s 0.09s; }
/* .item .tit em:nth-of-type(2) { transform: translateY(96px); transition: all 0.75s 0.36s; } */
.item .cont em { transform: translateY(96px); transition: all 0.75s 0.36s; }

.swiper-slide-active.item em { transform: translateY(0) !important; }


.main .bot_info { z-index: 10; position: fixed; bottom: 40px; margin: 0; padding: 0 60px; width: 100%; height: auto; box-sizing: border-box; }


.ico_scroll { position: fixed; bottom: 60px; left: 50%; transform: translateX(-50%); width: 24px; height: 38px; background: url('../images/main/ico_ms_scroll.png') no-repeat; }
.ico_scroll span {	animation-name:mouseWheel; animation-duration:1s; animation-iteration-count:infinite; animation-timing-function:linear; transform: rotate(180deg); position: absolute; left: 7px; top: -23px; width: 10px; height: 17px; background: url('../images/main/ico_dw_arrow.png') no-repeat; }

@keyframes mouseWheel {
	from {
		transform: translateY(0);
	}
	50%{
		transform: translateY(-6px);
	}
	to {
		transform: translate(0);
	}
}


@media (max-width:1920px) {
	.main_container { width: 100%; }
}

@media (max-width:1600px) {
	.txtbox { padding: 0 20px; }
	/* .txtbox .cont br { display: none; } */
	.main_info .item > .tit  br { display: none; }
}

@media (max-width:1280px) {
	.txtbox .tit { font-size: 20px; }
	.txtbox .cont { margin-top: 8px; line-height: 18px; font-size: 11px; }

}

@media (max-width:1024px) {
}

@media (max-width:720px) {
	.main { position: fixed; overflow: hidden; }
	.main video { display: none; /* left: -140%; top: -27%; */}
	.video_visual {display: block; position: fixed; left: 0; top: 0; min-width: 100%; min-height: 100%; opacity:0.7;} 
	.video_visual img {width: 100%; height: 100vh;}
	.main_container { width: 100vw; height: 100vh; overflow-y: scroll; -webkit-overflow-scrolling: touch; }
	.main_container:after { content: ''; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: linear-gradient( to bottom, #092c49, #000 70% ); opacity: .5; }
	.main.ck .main_container:after,
	.main.on .main_container:after { opacity: .95; }
	.main.ck .top_menu { background-color: rgba(0, 0, 0, 0.8); }
	.txtbox .tit { font-size: 24px; }
	.txtbox .cont { font-size: 13px;  }

	.main_info { left: 30px; width: calc(100% - 60px); }
	.main_info .item > .sup { font-size: 18px; }
	.main_info .item > .tit { font-size: 36px; line-height: 50px; }
	.main_info .item > .tit span { display: block; }
	.main_info .item > .cont { opacity: 1; font-size: 13px; line-height: 20px; }
	.main_info .item > .tit br,
	.main_info .item > .cont br { display: none; }

	.ico_scroll { bottom: 90px; transform: rotate(180deg) translateX(-50%); width: 10px; background: none; }
	.ico_scroll span { top: 0; }
	.ck .ico_scroll,
	.main.on .ico_scroll { display: none; }
	.main.on .bot_info { z-index: 10; }
	.main_slide { position: fixed; left: 0; top: 100%; -webkit-overflow-scrolling: touch; }
	.main_slide::after { display: none; }
	.main_slide.on { z-index: 3; top: 0; width: auto; }
	.main_slide .info { display: block; position: relative; left: 0; bottom: 0; padding-right: 0; width: 100%; height: 100%; box-sizing: border-box; }
	.main_slide .swiper-slide a:hover::after { display: none; }
	.main_slide .info .tit { margin-top: 10px; font-size: 20px; line-height: 22px; }
	.main_slide .info .year { display: none; position: absolute; right: 0; bottom: 0; font-size: 15px; }
	.main_slide .info .sort { margin-top: 10px; padding-right: 50px; }
	.main_slide .info .sort span { height: 16px; line-height: 17px; font-weight: 600; font-size: 11px; }
	.main_slide .swiper-container { position: fixed; padding-top: 90px; padding-bottom: 80px; width: 100%; height: 100%; overflow-y: scroll; box-sizing: border-box;  -webkit-overflow-scrolling: touch; }

	.main_slide .swiper-wrapper { transition-duration: 1.2s!important;display: block; padding: 0 20px; height: auto; box-sizing: border-box; }
	.main_slide .swiper-slide { display: block; margin-top: 30px; height: auto; }
	.main_slide .swiper-slide:first-child { margin-top: 0; }
	.main_slide .swiper-slide a { width: 100%; height: auto; }

	.main_slide .btn_link { opacity: 0; }
	.main_slide.on .btn_link { display: block; opacity: 1; position: static; left: 0; bottom: 0; margin-top: 40px; margin-bottom: 20px; margin-left: 28px; }

	.txtbox { width: 100%; height: 100%; }
	.main .bot_info {  z-index: 10; bottom: 0; padding: 15px 28px; }
	.main.ck .bot_info { background-color: rgba(0, 0, 0, 0.8); }
	.swiper-scrollbar { display: none; }
}

@media (max-width:320px) {
	.main_info .item > .tit { font-size: 26px; line-height: 40px; }
	.main_info .item > .cont { margin-top: 15px; }
	.main_slide .info { left: 0; bottom: 0; padding: 10px; width: 100%; height: 100%; box-sizing: border-box; }
	.main_slide .info .sort span { font-size: 11px; }
}
